<h1>Listing items</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Cost</th>
    <th>Description</th>
    <th>Number Left</th>
    <th>Owner</th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <% if item.count > 0 %>
    <tr>
      <td><%= link_to item.title, item %></td>
      <td><%= item.cost %></td>
      <td><%= item.description %></td>
      <td><%= item.count %></td>
      <td><%= link_to item.user.name, item.user %></td>
      <td><%= buy_button(item) unless current_user == item.user %></td>
      <td>
        <% unless current_user.item_orders.find_by_item_id(item.id).nil? %>
          <%= form_for(Rating.new,
            url: item_rating_path(item),
            method: :post) do |f| %>
          
            <%= f.number_field :rating, min: 1, max: 5, value: 5 %>
          
            <%= f.submit "Rate" %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_item_path %>
