<h1>Listing items</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Cost</th>
    <th>Description</th>
    <th>Number Left</th>
    <th>Owner</th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= link_to item.title, item %></td>
    <td><%= item.cost %></td>
    <td><%= item.description %></td>
    <td><%= item.count %></td>
    <td><%= link_to item.user.name, item.user %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_item_path %>
