<h1>Listing items</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Cost</th>
    <th>Description</th>
    <th>Number Left</th>
    <th>Owner</th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <% if item.count > 0 %>
    <tr>
      <td><%= link_to item.title, item %></td>
      <td><%= item.cost %></td>
      <td><%= item.description %></td>
      <td><%= item.count %></td>
      <td><%= link_to item.user.name, item.user %></td>
      <td><%= buy_button(item) unless current_user == item.user %></td>
    </tr>
  <% end %>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_item_path %>
